* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all {
  width: 340px;
  height: 440px;
  display: flex;
  flex-direction: row;
}
.tane {
  width: 300px;
  height: 400px;
  background-color: black;
  border-radius: 50% 50% 30% 30%;
  position: relative;
}
.s {
  background-color: white;
  width: 120px;
  height: 290px;
  position: absolute;
  top: 60px;
}
.r {
  position: absolute;
  right: 40px;
  border-radius: 30% 50% 40% 0;
}
.l {
  position: absolute;
  left: 42px;
  border-radius: 50% 30% 0 40%;
}
