* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
.s {
  border: black solid 5px;
  width: 30rem;
  height: 25rem;
  margin: 10px;
  display: flex;
  justify-content: center;
}
#a {
  display: inline-block;
  background-color: rgb(80, 205, 195);
  width: 170px;
  height: 80px;
  padding: 25px;
  margin: 20%;
}
