* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.s {
  border: black solid 5px;
  width: 30rem;
  height: 25rem;
}
#a {
  display: inline-block;
  background-color: rgb(80, 205, 195);
  width: 200px;
  height: 100px;
  padding: 35px;
}
