* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  margin: 0;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.moon {
  width: 150px;
  height: 150px;
  background-color: rgb(168, 168, 157);
  border-radius: 50%;
  position: relative;
  margin: auto;
  top: 50vh;
}
#helal {
  position: absolute;
  width: 140px;
  height: 140px;
  background-color: rgb(7, 5, 5);
  border-radius: 50%;
  top: 49vh;
  left: 96vh;
}
